<div class="content">

  <span>{{title}} app is running!</span>
  <p>This is a full client-side demo (no data is stored).</p>

  <div *ngIf="user; else login">
    <p>This is the default data provided after sign-in:</p>
    <div>
      <ngx-json-viewer  [json]="user"></ngx-json-viewer>
    </div>
    <p><strong>Note:</strong> for facebook provider you need to specify in the app permissions that you want to retrieve the email.</p>
  </div>

  <ng-template #login>
    <div class="fb-login-button"
        data-width=""
        data-size="medium"
        data-button-type="login_with"
        data-layout="default"
        data-auto-logout-link="false"
        data-use-continue-as="false"
        scope="public_profile,email" onlogin="fbOnLogin();"
      >
    </div>
    <div #loginGoogleButton>Login Google</div>
  </ng-template>

</div>
